.landscape-blur {
  position: relative;
  left: 110px;
  margin: 0;
  padding: 12px;
  border: 2px solid #a0833b;
  height: 180px;
  width: 470px;
  border-radius: 32px;
  backdrop-filter: blur(06px);
}
